@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background: #f0eeeb;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  font-family: "Amiri", serif;
  color: #e04545;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  margin-top: 140px;
  margin-bottom: 90px;
  text-align: center;
}

h2 {
  font-family: "Amiri", serif;
  color: #e04545;
  font-size: 2rem;
  font-weight: 700;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  text-align: center;
}

h3 {
  font-family: "Amiri", serif;
  color: #e04545;
}

p {
  font-family: "helvetica", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 1px;
  font-weight: 400;
  letter-spacing: 0.16em;
  max-width: 70ch;
}
