---

---


<div class="banner">
    <!-- <img src="./illustrationer/orange_svg" alt="illustration" id="orange"> -->
    <div class="billeder">
        <img src="./img/banner1.png" alt="banner1">
    </div>
    <div class="billeder">
        <img src="./img/banner2.png" alt="banner1">
    </div>
    <div class="billeder">
        <img src="./img/banner3.png" alt="banner1">
    </div>
</div>

<style>


.banner {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 200px;
    margin-bottom: 200px;
}

.billeder {
    flex: 0 0 auto;
}

.billeder img {
    max-width: 100%;
    height: auto;
}

/* .banner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.billeder {
    width: 100px;
    max-width: 1000px;
    align-items: center;
    justify-content: center;
} */


</style>