---

---


<div class="banner">
    <div class="indhold">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Impedit cupiditate libero ea blanditiis accusamus facilis nobis delectus, aut dicta omnis</p>
    </div>
    <div class="indhold">
        <img src="./img/statestik.png" alt="banner1">
    </div>
    <div class="indhold">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi soluta consectetur omnis nesciunt saepe,
            accusamus quo laudantium quae sit expedita  </p>
    </div>
    <div class="indhold">
        <img src="./img/statestik.png" alt="banner1">
    </div>
</div>

<style>


.banner {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 200px;
    margin-bottom: 200px;
    gap: 40px;
}

/* .billeder {
    flex: 0 0 auto;
}

.billeder img {
    max-width: 100%;
    height: auto;
} */