---

---

<header>
        <!-- MENU -->
        <nav class="navbar">
          <div class="container">
            <ul class="left-menu">
                <li class="dropdown">
                    <a href="#" class="dropdown-link">Shop</a>
                    <div class="dropdown-menu">
                        <div class="dropdown-column">
                            <a href="#">Skjorter</a>
                            <a href="#">Tørklæder</a>
                            <a href="#">Gardiner</a>
                            <a href="#">Vægværker</a>
                            <a href="#">Puder</a>
                            <a href="#">Stofservietter</a>
                            <a href="#">Te-& kaffehætter</a>
                            <a href="#">Clutch</a>
                            <a href="#">Eye Pillows</a>
                            <a href="#">Workshops</a>
                            <a href="#">Gavekort</a>
                            <a href="#">FRAK x ITMV</a>
                            <a href="#">Gardinbestilling</a>
                            <a href="#">Butik</a>
                        </div>
                    </div>
                </li>
                <li><a href="#">Om os</a></li>
                <li><a href="#">Samarbejde</a></li>
                <li><a href="#">Støt</a></li>
                <li><a href="#">Kontakt</a></li>
            </ul>
            <div class="logo">
                <a href="index.astro"><img src="/img/logo_itmv.webp" width="400" alt="Logo"></a>
            </div>
            <ul class="right-menu">
                <div class="icon">
                    <a href="checkout.html" class="icon" id="search"><i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <li><a href="#">Kurv</a></li>
            </ul>
            </div>
          </div>
        </nav>


        <!-- BURGERMENU -->
        <nav class="navbar2">
            <div id="burger-menu" class="flex_item1">
                <div class="burger-icon">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                    <div class="line line-3"></div>
                </div>
            </div>
            <ul class="menu-links">
                <li><a href="#">Om os</a></li>
                <li><a href="#">Samarbejde</a></li>
                <li><a href="#">Støt</a></li>
                <li><a href="#">Kontakt</a></li>
            </ul>
            <div class="flex_item">
                <a href="index.astro"><img src="/img/logo_itmv.webp" width="400" alt="Logo"></a>
            </div>
            <div class="flex_item">
                <div class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
        </nav>

    </header>



<style>

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header a{
  text-transform: uppercase;
}

:root {
  --black: #010101;
}

/* Navbar */
#burger_menu {
  display: none;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  padding: 35px 20px 120px 20px;
  font-family: "helvetica", sans-serif;
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
  width: 100%;
}

.container{
  display: flex;
  align-items: center;
}

.left-menu{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* padding-top: 20px; */
  z-index: 1;
}


/* space mellem links */
.navbar ul li {
  display: inline;
  margin-right: 20px;
}

.navbar a {
  color: #000000;
  text-decoration: none;
}

.navbar a:hover {
  color: var(--black);
}

.logo img {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
  width: 145px;
}

.icon {
  color: #1f1e1e;
  cursor: pointer;
  width: 90%;
  /* padding: 21px 20px 0px 3px; */
  border: none;
  font-weight: 100;
  font-size: 1.4rem;
}

#search {
  margin: 0;
}

.right-menu {
  display: flex;
  position: absolute;
  top: 41px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  list-style: none;
}

/* Dropdown-menu stilarter */
.dropdown {
  position: relative;
  width: 100%;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 200%;
  left: -28px;
  background-color: #ffffff;
  border-top: #ffffff solid 1px;
  border-bottom: #ffffff solid 1px;
  padding: 30px 684px;
  padding-left: 30px;
  line-height: 1.5rem;
}

.dropdown-menu.active {
  display: block;
  width: 100px;
  height: 500px;
  padding-right: 199px;
}

.dropdown-column {
  float: left;
  width: 10%;
}

.dropdown-column h3 {
  margin-top: 0;
  padding-bottom: 10px;
  font-size: 1.1rem;
}

.dropdown-column a {
  display: block;
  color: #333;
  text-decoration: none;
  margin-bottom: 5px;
}

.h3_menu {
  font-size: 1rem;
}

a {
  font-size: 0.9rem;
}

a:hover {
  color: var(--gron);
}

/* Styling af "dropdown"-link */
.dropdown-link {
  text-decoration: none;
  position: relative;
}

.dropdown-link:hover,
.dropdown-link:active {
  text-decoration: none;
  color: var(--gron);
}

/* Understregning under "dropdown-link"-link */
.dropdown-link:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--gron);
  position: absolute;
  bottom: -3px;
  transition: width 0.3s ease;
}

.dropdown-link:hover:after,
.dropdown-link:active:after {
  width: 100%;
}

.dropdown-link.active:after {
  width: 100%;
  background-color: #000;
}

/* BURGERMENU */
.navbar2 {
  display: none;
}

.burger-menu {
  display: none; /* Skjul burgermenuen som standard */
  cursor: pointer;
}

.burger-icon {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin: 2px 8px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #000;
  transition: transform 0.4s, opacity 0.4s;
}

a {
  font-family: "futura-pt", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* Vis burgermenuen ved max-bredde (mobilvisning) */
@media screen and (max-width: 900px) {
  .navbar {
    display: none;
  }

  .navbar2 {
    display: flex;
    width: 100%;
  }

  .flex_item {
    flex: 1; /* Flex-grow sat til 1 for at lade dem fylde lige stor plads */
    text-align: center; /* Justér tekst til centrum */
  }

  .search-icon {
    text-align: end;
    margin-right: 10px;
    cursor: pointer;
  }

  #search_burger {
    font-size: 1.5rem;
    position: absolute;
    left: 93%;
    top: 10%;
  }

  #logo_burger {
    position: absolute;
    left: 44%;
    width: 50px;
  }

  .navbar2 {
    padding-top: 10px;
  }

  .navbar2 ul {
    list-style-type: none;
  }

  .navbar2 a {
    color: #000000;
    text-decoration: none;
  }

  .burger-menu {
    display: block;
  }

  .menu-links {
    display: none; /* Skjul menu-links (normal navigation) i mobilvisning */
  }

  .menu-links.active {
    display: block; /* Vis menu-links, når burgermenuen er åben */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: #000000;
    padding: 66px 88px 350px 20px;
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 3rem;
    width: 100%;
  }

  /* Burger-ikon animation til at vise åben/lukket tilstand */
  .burger-icon.active .line-1 {
    transform: rotate(-45deg) translate(-6px, 7px);
  }

  .burger-icon.active .line-2 {
    opacity: 0;
  }

  .burger-icon.active .line-3 {
    transform: rotate(45deg) translate(-6px, -7px);
  }

  .flex_item.active {
    display: none;
  }

  .search-icon.active {
    display: none;
  }
}




 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>


</style>









<script>
        // Find elementer
const dropdownLinks = document.querySelectorAll(".dropdown-link");

// Tilføj eventlistener til hver dropdown-link
dropdownLinks.forEach((link) => {
  link.addEventListener("mousedown", function (event) {
    event.preventDefault();
    const dropdownMenu = this.nextElementSibling;
    dropdownMenu.classList.toggle("active");
  });

  // Luk dropdown-menuen, når man klikker udenfor
  document.addEventListener("click", function (event) {
    if (!link.contains(event.target)) {
      const dropdownMenus = document.querySelectorAll(".dropdown-menu");
      dropdownMenus.forEach((menu) => {
        menu.classList.remove("active");
      });
    }
  });
});

// BURGERMENU
// Find burgermenu og menu-links
const burgerMenu = document.querySelector("#burger-menu");
const menuLinks = document.querySelector(".menu-links");
const flexItem = document.querySelector(".flex_item");
const searchIcon = document.querySelector(".search-icon");

// Tilføj eventlistener til burgermenuen for at åbne/lukke menuen
burgerMenu.addEventListener("click", function () {
  menuLinks.classList.toggle("active");
  flexItem.classList.toggle("active");
  searchIcon.classList.toggle("active");
  burgerMenu.querySelector(".burger-icon").classList.toggle("active");
});

</script>