---

---

<div class="scroll_container">
  <div class="scroll_indicator"></div>
</div>
<nav class="topnav">
  <a href="#sec1"> Hvem er ITMV</a>
  <a href="#sec2">Indgå Samarbejde</a>
  <a href="#sec3">Styrk din ESG</a>
  <a href="#sec4">Månedens Kvinde</a>
</nav>

<style>
  nav {
    background-color: #001;
    padding: 1em 0;
    text-align: center;
    font-family: sans-serif;
    font-size: 1em;
  }

  nav.topnav {
    position: sticky;
    top: 0.5rem;
    z-index: 10;
    width: 100%;
  }

  nav a {
    display: inline-block;
    width: 8em;
    color: #001;
    text-decoration: none;
    background-color: #e5d3bc;
    margin: 0 0.5em;
  }

  nav a:hover {
    color: #e5d3bc;
    background-color: #001;
  }

  .scroll_container {
    position: sticky;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 0.5rem;
    background-color: antiquewhite;
  }

  .scroll_indicator {
    width: 0%;
    height: 100%;
    background-color: cornflowerblue;
  }
</style>

<script>
  window.addEventListener("scroll", updateIndicator);

  function updateIndicator() {
    const scrolled =
      document.body.scrollTop || document.documentElement.scrollTop;
    const height =
      document.documentElement.scrollHeight -
      document.documentElement.clientHeight;
    const scrolledfactor = (scrolled / height) * 100;
    document.querySelector(".scroll_indicator").style.width =
      scrolledfactor + "%";
  }
</script>
