---
const { id } = Astro.props;
---

<div id={id}></div>
<h2>Hvem er ITMV</h2>
<div class="con1">
  <div id="billede_container1">
    <img src="./img/skilt.png" alt="skilt" id="billede1" />
    <img src="./illustrationer/orange.svg" alt="" id="billede1_2" />
  </div>
  <p>
    I hjertet af deres initiativ er sy- og designværksteder, der er strategisk
    placeret i udsatte boligområder. Her bliver kasserede tekstiler forvandlet
    til kunstværker, med hver sting fortællende en historie om genopretning og
    fornyelse. Men ITMV handler ikke kun om at genanvende stoffer - det handler
    om at genopbygge samfund. Med et team bestående af syersker i fleksjob eller
    småjob samt borgere i virksomhedspraktik, bliver produktionen af disse
    unikke kreationer et kollektivt projekt. Her bliver hver søm ikke bare et
    skridt mod et færdigt produkt, men også et skridt mod en stærkere, mere
    sammenhængende samfund.
  </p>
</div>
<div class="con2">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem perferendis
    ut saepe officiis error! Magnam fuga exercitationem praesentium rerum
    aperiam! Amet placeat optio temporibus? Soluta voluptatum corrupti
    repudiandae ea repellat?
  </p>
  <div id="billede_container2">
    <img src="./illustrationer/groen.svg" alt="" id="billede2_1" />
    <img src="./img/gardin.png" alt="" id="billede2_2" />
  </div>
  <img src="./illustrationer/sort_sloejfe.png" alt="" id="sloejfe" />
</div>

<style>
  h2 {
    margin-top: 8rem;
    z-index: 1;
    position: relative;
    margin-bottom: 2rem;
  }
  .con1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #billede_container1 {
    display: flex;
    height: 30em;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #billede1 {
    z-index: 1;
    height: 70%;
    width: auto;
    position: absolute;
  }
  #billede1_2 {
    width: 70%;
  }

  #billede_container2 {
    height: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #billede2_2 {
    z-index: 1;
    height: 70%;
    width: auto;
    position: absolute;
  }
  #billede2_1 {
    height: 100%;
    width: auto;
  }
  .con2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #sloejfe {
    width: 11%;
    position: absolute;
    left: 10%;
    bottom: -40%;
  }
</style>
