---
const { id } = Astro.props;
---

<h2>Hvem er ITMV</h2>
<div class="con1" id={id}>
  <div id="billede_container1">
    <img src="./img/skilt.png" alt="skilt" id="billede1" />
    <img src="./illustrationer/orange.svg" alt="" id="billede1_2" />
  </div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo culpa harum,
    nam accusamus quae ullam quia neque laborum excepturi cum nihil ad similique
    ut in autem tenetur aspernatur ex blanditiis.
  </p>
</div>
<div class="con2">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem perferendis
    ut saepe officiis error! Magnam fuga exercitationem praesentium rerum
    aperiam! Amet placeat optio temporibus? Soluta voluptatum corrupti
    repudiandae ea repellat?
  </p>
  <div id="billede_container2">
    <img src="./illustrationer/groen.svg" alt="" id="billede2_1" />
    <img src="./img/gardin.png" alt="" id="billede2_2" />
  </div>
</div>

<style>
  .con1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #billede_container1 {
    display: flex;
    /* background-image: url(./illustrationer/orange.svg);
    background-repeat: no-repeat;
    background-size: 80%; */
    height: 30em;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #billede1 {
    /* width: 40%;
    height: auto; */
    z-index: 1;
    height: 70%;
    width: auto;
    position: absolute;
  }

  #billede_container2 {
    height: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #billede2_2 {
    z-index: 1;
    height: 70%;
    width: auto;
    position: absolute;
  }
  #billede2_1 {
    height: 130%;
    width: auto;
  }
  .con2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
</style>
