---
const { id } = Astro.props;
---

<div id={id}></div>
<h2>Indgå samarbejde med ITMV</h2>
<div class="container1">
  <div id="text">
    <p>
      Som en socialøkonomisk virksomhed fokuserer vi primært på to områder:
      produktion for virksomheder og beskæftigelsesrettede samarbejdsforløb med
      jobcentre i de kommuner, hvor vores værksteder er placeret. Disse
      samarbejder giver os mulighed for at skabe jobmuligheder, opbygge netværk
      og forbedre livskvaliteten for mennesker uden for det traditionelle
      arbejdsmarked. Vi anvender kasserede tekstiler, som vi får fra forskellige
      virksomheder, som omdrejningspunkt i vores initiativer.
    </p>
  </div>
  <div id="billede_con1_1">
    <img src="./img/ph2.png" alt="" id="billede1_1" />
    <img src="./illustrationer/blaa.svg" alt="" id="billede1_2" />
  </div>
</div>

<style>
  h2 {
    margin-top: 16rem;
    z-index: 1;
    position: relative;
    margin-bottom: -3rem;
  }
  .container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #billede_con1_1 {
    grid-column: 2;
    height: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  #billede1_1 {
    z-index: 1;
    height: 70%;
    width: auto;
    position: absolute;
  }
  #billede1_2 {
    height: 100%;
    width: auto;
  }
  #text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
</style>
