---
const { id } = Astro.props;
---

<h2 id={id}>MÅNEDENS KVINDE</h2>
<div class="container">
  <div class="col1">
    <img src="./img/luna.jpg" alt="luna" />
  </div>
  <div class="col2">
    <p class="kvinde">
      Luna <br />
      27 år <br />
      Danmark <br />
    </p>
  </div>
</div>

<div class="container2">
  <div class="col3">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem perferendis
      ut saepe officiis error! Magnam fuga exercitationem praesentium rerum
      aperiam! Amet placeat optio temporibus? Soluta voluptatum corrupti
      repudiandae ea repellat?
    </p>
  </div>
  <div class="col4">
    <img src="./img/clothing.jpg" alt="tøj" />
  </div>
</div>

<style>
  h2 {
    margin-top: 70px;
    margin-bottom: 50px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .container > * {
    margin-bottom: 20px;
  }

  .col2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .col1 img {
    width: 500px;
  }

  /* Månedens kvinde section 2 */

  .container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-width: 1000px;
  }

  .col3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .col4 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .col4 img {
    width: 400px;
  }
</style>
