---
const { id } = Astro.props;
---

<div id={id}></div>
<h2>ITMV STYRKER DIN ESG</h2>
<div class="container">
  <div class="col1">
    <p>
      Et samarbejde med "I tråd med verden" kan styrke en virksomheds ESG ved at
      skabe positive resultater på miljømæssige, sociale og ledelsesmæssige
      områder, hvilket kan forbedre virksomhedens omdømme, risikostyring og
      langsigtet værdiskabelse.
    </p>
  </div>
  <div class="col2">
    <img src="./img/esg.svg" alt="esg" />
  </div>
</div>

<style>
  h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .col1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
  }

  .col2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
  }
  .col2 img {
    width: 250px;
  }
</style>
