---

---

<h2>Hvem er ITMV</h2>
<div class="con1">
  <div id="billede_container1">
    <img src="./img/skilt.png" alt="skilt" id="billede1" />
    <!-- <img src="./illustrationer/orange.svg" alt="" id="billede2" /> -->
  </div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo culpa harum,
    nam accusamus quae ullam quia neque laborum excepturi cum nihil ad similique
    ut in autem tenetur aspernatur ex blanditiis.
  </p>
</div>
<div class="cont2">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem perferendis
    ut saepe officiis error! Magnam fuga exercitationem praesentium rerum
    aperiam! Amet placeat optio temporibus? Soluta voluptatum corrupti
    repudiandae ea repellat?
  </p>
  <div id="billede_container2">
    <img src="./img/gardin.png" alt="" />
  </div>
</div>

<style>
  #billede_container1 {
    /* display: flex;
    position: relative; */
    background-image: url(./illustrationer/orange.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    /* justify-content: left;
    align-content: center; */
    /* width: 50%; */
  }
  #billede1 {
    width: 30%;
    height: auto;
    /* position: absolute; */
    top: 10%;
  }
  #billede2 {
    width: 50%;
  }
</style>
